body{
    background:rgb(104, 4, 37) ;
}
.welcome{
    font-family: cursive;
    color: white;
    margin-top: 50px;
    text-align: center;
}
.final{
    display: none;
    margin-top: 100px;
    font-size: 15px;
 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
}
.final h4{
    margin-top: -10px;
}
.main{

    margin-left: 30px;
    width: 300px;
    height: 500px;
    background: rgb(223, 215, 215);
    border-radius: 30px;
    box-shadow: 5px 15px 50px rgb(26, 25, 25);
}
.top{
    margin-top: -10px;
    position: absolute;
    margin-left: 60px;
    width: 150px;
    height: 30px;
    border-radius: 10px;
    background: rgb(223, 215, 215);
}
.sub{
 position: absolute;
    margin-left: 10px;
    margin-top: 10px;
    width: 280px;
    height: 480px;
    background: rgb(247, 244, 244);
    border-radius: 30px; 
    border: 2px solid black;
}
.input{
  margin-left: 20px;
    margin-top: 440px;
    position: absolute;
}
.input input{

    text-decoration: none;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(104, 4, 37);
    font-size: 18px;
}
.input input:focus{
    outline: 0;
    outline-offset: 10;
}
.conv{
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;  
}
.conv h2{

    border-radius: 50px;
    background: rgb(104, 4, 37);
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:white ;
}
.conv h3{

    font-size: 20px;
    margin-left: 20px;  
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:rgb(104, 4, 37) ;
}
.conv h4{
    
    padding: 10px;
    color: beige;
    background:rgb(104, 4, 37) ;
}
